.item {
    width: 200px;
    height: 100px;
    background-color: aqua;
    border: 1px solid ;
    text-align: center;
}

.container {
    /* 画面の高さを設定 */
    height: 100vh;
    /* 親要素にdisplay:flex */
    display: flex;
    /* flexコンテナ要素に対して上下中央 */
    align-items: center;
    /* flexコンテナ要素に対して左右中央 */
    justify-content: center;

    /* ----------flex-wrap:子要素の繰り返し---------- */
    /* flex-wrap: nowrap; 初期値 */
    flex-wrap: wrap;
}

body {
    /* height: 100vm; */
}