.item {
    width: 200px;
    height: 100px;
    background-color: aqua;
    border: 1px solid ;
    text-align: center;
}

.container {
    /* 画面の高さを設定 */
    height: 100vh;
    /* 親要素にdisplay:flex */
    display: flex;
    /* flexコンテナ要素に対して上下中央 */
    align-items: center;

    /* ----------justify-content:水平方向の揃え---------- */
    /* justify-content: flex-start; 初期値 */
    /* 中央揃え */
    justify-content: flex-end;
}

body {
    /* height: 100vm; */
}