body {
    background-color: aquamarine;
    /* 最低の高さを設定 こうすることにより溢れがなくなる */
    min-height: 100vh;
    /* divを画面の高さにするために親要素にdisplay:flex */
    display: flex;
    /* 横並びになってしまったのでflex-directionで縦に設定 */
    flex-direction: column;
    /* 固定幅に設定 中央揃え*/
    width: 800px;
    margin: 0 auto;
}

header {
    border: 1px solid;
    height: 150px;
}

div nav,main,aside{
    border: 1px solid;
}

footer {
    border:1px solid;
}

div {
    /* nav,main,asideを横並び */
    display: flex;
    /* 画面の高さいっぱいに広げる */
    flex: 1;
}

main {
    /* mainを横いっぱいに広げる */
    flex: 1;
}

nav {
    width:150px
}

aside {
    width: 200px;
}

footer {
    height: 200px;
}